.wrapper {
    background-image: url("https://img.freepik.com/fotos-kostenlos/junge-mann-verrueckt-besorgt_1194-5021.jpg?w=2000&t=st=1693907322~exp=1693907922~hmac=c8671ba8e129096562a3ed58835fb6b8daf5019918042314515076104ea81e5e");
    background-size: cover; /* Das Bild wird proportional skaliert, um den Container zu füllen */
    background-position: center center; /* Das Bild wird zentriert ausgerichtet */
    background-repeat: no-repeat;


}
.homeplace{
    color: #608075;
}