
.img {
    width: 20%; /* Setzen Sie die Breite auf 50% der ursprünglichen Größe */
    height: 20%; /* Lassen Sie die Höhe automatisch berechnet werden, um das Seitenverhältnis beizubehalten */
}

.Uhr {

    width: 20%; /* Setzen Sie die Breite auf 50% der ursprünglichen Größe */
    height: 20%; /* Lassen Sie die Höhe automatisch berechnet werden, um das Seitenverhältnis beizubehalten */
}
