.item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.scroll-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid darkcyan;
    border-radius: 15px;
    padding: 10px 0;
}

.item-link-image {
    width: 110px;
}

.item-link-text {
    text-decoration: none;
    color: darkcyan;
    font-size: 20px;
    text-align: center;
}

.img-priority{
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transform: translateX(120px) translateY(0px);
}





}
.digital-clock{
    background-color: black;
}
.setup{

    position: absolute;
    top: 50px;
    left: 250px;
}
.logout {
    position: absolute;
    top: 50px;
    left: 50px;

}

