.item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.scroll-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid darkcyan;
    border-radius: 15px;
    padding: 10px 0;
}

.item-link-image {
    width: 110px;
}

.item-link-text {
    text-decoration: none;
    color: darkcyan;
    font-size: 20px;
    text-align: center;
}

.img-priority{
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transform: translateX(120px) translateY(0px);
    background-position: center center; /* Das Bild wird zentriert ausgerichtet */
}

.root{
    background-size: cover; /* Das Bild wird proportional skaliert, um den Container zu füllen */
    background-position: center center; /* Das Bild wird zentriert ausgerichtet */
    background-repeat: no-repeat;

}




.digital-clock{

    width: 100px;
    height:100px;
    background-color: red; /* Startfarbe */
    border-radius: 10%; /* Macht das Element rund */
    position:center;

}


.Background{
 background-image: url("https://cdn.pixabay.com/photo/2017/05/24/18/57/tree-2341285_1280.jpg");
    background-size: cover; /* Das Bild wird proportional skaliert, um den Container zu füllen */
    background-position: center center; /* Das Bild wird zentriert ausgerichtet */
    background-repeat: no-repeat;
}
.circle-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

/* Basisstil für den Kreis */



/* CSS-Animation mit Keyframes */
@keyframes circleAnimation {
    0% {
        transform: scale(1); /* Startgröße */
        background-color: red; /* Startfarbe */
    }
    50% {
        transform: scale(2); /* Endgröße */
        background-color: blue; /* Endfarbe */
    }
    100% {
        transform: scale(1); /* Zurück zur Startgröße */
        background-color: red; /* Zurück zur Startfarbe */
    }
}